@page
@model TGI.WebApp.Pages.Students.IndexModel
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<h2> Students: </h2>
<form method="post">
    <table style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Nit</th>
                <th>Age</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
            <tr>
                <td> @item.Id</td>
                <td>@item.Name</td>
                <td>@item.lastName</td>
                <td>@item.Nit</td>
                <td>@item.Age</td>
                <td>
                    <button type="submit"
                            asp-page-handler="delete"
                            asp-route-id="@item.Id">
                    Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

</form>

<a asp-page="Add">Create new student</a>
