@page
@model TGI.WebApp.Pages.Students.IndexModel
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<h2> Students: </h2>
<form method="post">
    <table class="striped responsive-table">
        <thead>
            <tr >
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Nit</th>
                <th>Age</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
            <tr>
                <td> @item.Id</td>
                <td>@item.Name</td>
                <td>@item.lastName</td>
                <td>@item.Nit</td>
                <td>@item.Age</td>
                <td>
                    <a class="btn btn-primary" style="margin-top: 15px;" 
                            asp-page="Edit"
                            asp-route-id="@item.Id">
                        Edit
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger" style="margin-top: 15px;" type="submit"
                            asp-page-handler="delete"
                            asp-route-id="@item.Id">
                        Delete
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>

</form>

<a class="waves-effect waves-light btn " style="margin-top: 10px;" asp-page="Add"><i class="material-icons left">add</i>Create new student</a>
